<h2>Latests posts:</h2><br><br>

<%@content.each do |post|%>
  <div>
    <p style="font-size: 75%; color: #999"><%=post['created_date']%></p>
    <p><%=post['content']%></p>
    <a href="/entry/<%=post['id']%>">Comments</a>
    <hr>
  </div>
<%end%>
