<h2>New post</h2>
<p>
  <form action="/new" method="POST" role="form">
    <textarea name="new_post" class="form-control" rows="6" style="width: 400px" placeholder="Enter a new post"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Yarrr!</button>
  </form>
</p>
