<h2>New post</h2>
<p>
  <form action="/new" method="POST" role="form">
    <textarea name="new_post" class="form-control" rows="6" style="width: 400px" placeholder="Enter a new post"></textarea>

    <div class="form-group">
      <label for="exampleInputFile">Attach file:</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Not more than 5Mb.</p>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>

    </div>
    <button type="submit" class="btn btn-primary">Yarrr!</button>
  </form>
</p>
